*{
    margin:0;
    padding:0;
}


h1{
    font-family: "Lato" , sans-serif;
}

li {
    list-style-type: none;
    font-size:10px;
}

.menu-bar {
    position: relative;
    margin-right: 45px;
    margin-top: 45px;
}

.menu-bar ::before{
    content:".";
    position: relative;
    left:-10px;
    top:-3px;
}

.menu-bar li:nth-child(1)::before {
    display:none;
  }

body{
    font-family: "Lato" , sans-serif;
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 90px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    align-items: center;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
}




.slider .wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:600px;
    width: 100%;
    background-image: url(/assets/Bg1X.png);
    flex-direction: row;
    position:relative;   
}


 
.singolo{
font-size: 25px;
line-height: 6px;
color: #ffffff;
font-family: "Lato";
font-weight: 700;
text-align: left;
width: 115px;
height: 20px;
margin-left: 38px;
margin-top: 41px;
left: 43px;
top: 58px;
}

.star {
    color:#f06c64;
}

.button{
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    font-family: "Lato" , sans-serif;    
 }

.button:hover{
font-size: 12px;
line-height: 6px;
color: #f06c64;
font-weight: 700;
text-align: left;
}



.menu-bar{
    display:flex;
    justify-content:space-between;
    margin-right: 40px;
    margin-top:40px;
    width: 371px;
    height:20px;
}


.key-l{
display:flex;
order:1;
width:90px;
height:600px;
align-items: center;
justify-content: center;
right: -6px;
top: -6px;
position: relative;
}


.key-r{
    display: flex;
    order:3;
    width:90px;
    height:600px;
    align-items: center;
    justify-content: center;
    right: 4px;
    top: -6px;
    position: relative;
}


  .key:hover{
    opacity:0.2;
    background-color:rgba(45,48,58,0.6); 
}  

  
.phone {
    order:2;
    width: 855px;
    height:600px;
    display: flex;
    justify-content:space-between;
    position:relative;
}

.phone-vertical {
position:relative;
width: 240px;
height: 483px;
}

.phone-vertical-shadow {
    background-image: url(assets/shadow.png);
    position: relative;
    width: 240px;
    height: 483px;
    background-repeat: no-repeat;
    transform:scale(1,-1);
    top: 50px;
    left: 24px;
    
    
}



.phone-vertical-base{
    background-image:url(assets/corpus.png) ;
    position:relative;
    width: 215px;
    height: 483px;
    background-repeat: no-repeat;
    top: 24px;
  
}

.phone-vertical-screen{
    background-image: url(assets/screen-v.png);
    position: relative;
    background-repeat: no-repeat;
    top: 58px;
    left: 10px;
    width: 194px;
    height: 339px;
    transform: scale(1,-1);
}

.phone-horizontal {
position:relative;
width: 240px;
height: 483x;  
transform:rotate(90deg);


}


.phone-horizontal-shadow {
    background-image: url(assets/shadow.png);
    position: relative;
    width: 240px;
    height: 483px;
    background-repeat: no-repeat;
    right: 7px;
    top: 204px;
    
    

}


.phone-horizontal-base{
    background-image:url(assets/corpus.png) ;
    position:relative;
    width: 215px;
    height: 483px;
    background-repeat: no-repeat;
    transform:scale(-1,-1);
    top:56;
    left:10;

  
}

.phone-horizontal-screen{
    background-image: url(assets/screen-h.png);
    position: relative;
    width: 194px;
    height: 339px;
    background-repeat: no-repeat;  
    transform: scale(-1,-1);
    top: 57px;
    left: 9px;
}

.services .wrapper{
    height: calc(100% - 80px);
    width: 940px;

    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.services {
    height: 496px;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;   
}


.grid {
    display:grid;
    grid-template:  1fr 1fr /1fr 1fr 1fr ;
    grid-gap: 20px;
    grid-row-gap: 40px;
    padding-top: 50px;
    position: relative;
    left:10px;
    top:20px;
}


.block{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:"i h h h"
                        "i p p p"     
                        "i p p p" 
                        "i p p p" ;      
}


.img{
    grid-area: i;
}


.block h3{
    grid-area: h;
}


.block p{
    grid-area :p;
    color: #878da9;
    line-height: 21px;
    font-size: 12px;
    word-wrap: break-word;
    font-weight: 700;
    letter-spacing: 0.1px;
}

h2{
    position: relative;
    top: 3px;
    font-size: 30px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.2px;
}


.our-services p{
    position: relative;
    top: -12px;
    line-height: 30px;
    font-size: 17px;
    color: #767e9e;
    font-weight: 400;
    left: 0px;
    position: relative;
    top: 20px;
}


.block h3{
    position: relative;
    top: -3px;
    color: #666d89;
    letter-spacing: -0.5px;
    font-weight: 900;
}

h4{
    position: relative;
    top: -12px;
    letter-spacing: 0.36px;
    line-height: 30px;
    font-size: 17px;
    color: #767e9e;
    font-weight: 400;
}
