*{
    margin:0;
    padding:0;

}


h1{
    font-family: "Lato" sans-serif;
}

li {

    list-style-type: none;
}

body{
    font-family: "Lato" sans-serif;
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 90px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    align-items: center;
    }

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    }




.slider .wrapper {

    display: flex;
    justify-content: space-between;
    align-items:center;
    height:600px;
    width: 100%;
    background-image: url(/assets/Bg1X.png);
    flex-direction: row;
    position:relative;
    
    
}


 
.singolo{
font-size: 25px;
line-height: 6px;
color: #ffffff;
font-family: "Lato";
font-weight: 700;
text-align: left;
width: 115px;
height: 20px;
margin-left:38px;
margin-top:42px;

}

.star {
    color:#f06c64;
}

.button{

    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    font-family: "Lato" sans-serif; 
    
  
 }

.button:hover{

font-size: 12px;
line-height: 6px;
color: #f06c64;
font-weight: 700;
text-align: left;

}



.menu-bar{
    display:flex;
    justify-content:space-between;
    margin-right: 40px;
    margin-top:40px;
    width: 371px;
    height:20px;
    

}




.phone-vertical-shadow {
    
width :240px;
height:483px;
background-image: url(/assets/Shadow1X.png);
left: 112px;


}


.key-l{
display:flex;
order:1;
width:90px;
height:600px;
align-items: center;
justify-content: center;


}
.key-r{
    display: flex;
    order:3;
    width:90px;
    height:600px;
    align-items: center;
    justify-content: center;
    
    }

  .key:hover{
    opacity:0.2;
    
  }  

  
.phone {
    order:2;
    width: calc(100%-180px);
    position: relative;
    display: flex;
    flex-direction:row;
    
}

.phone-vertical-shadow {
    background-image: url(assets\Shadow1X.png);
  
    position: absolute;
    z-index:1;
    left:10px;
    top:20px;
}

.phone-vertical-base{
     background-image:url(assets\phone.png) ;
  
     position:absolute;
     z-index:2;

}

.phone_vertical-screen{
    background-image: url(assets\back-graund-h.png);
 
    position: absolute;
    z-index:3;

}


.phone-horizontal-shadow {
    background-image: url(assets\Shadow2X.png);
    background-size: contain;
    position: absolute;
    z-index:0;
}

.phone-horizontal-base{
     background-image:url(assets\phone.png) ;
     background-size: contain;
     position:absolute;
     z-index:1;

}

.phone_horizontal-screen{
    background-image: url(assets\back-graund-v.png);
    background-size: contain;
    position: absolute;
    z-index:2;
}

.services .wrapper{
    flex-direction: column;
    justify-content: space-around;
}




.services {
    width: 100%;
    height: 495px;
    background-color: #f2f2f2;
    align-items: center;
    
}



.grid {
    display:grid;
    grid-template:  1fr 1fr /1fr 1fr 1fr  ;
    grid-gap: 10px;
    padding-top: 50px;
}

.block{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "i h h h"
                          "i p p p"     
                          "i p p p" 
                          "i p p p"   ;      
}

.img{
    grid-area: i;
}

.block h3{
    grid-area: h;
}

.block p{
    grid-area :p;
}



