*{
    margin:0;
    padding:0;
}


body{
    font-family: "Lato" , sans-serif;
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding : 40px 0;
}

.get-a-quote .wrapper {
    width:100%;
    height:650;
    background-color: #f06c64;
}


.form_space {
    width:620px;
    height: 375px;
    
    display:flex;
    flex-direction: column;
    

}

.form {
    background-color:#D6564F;
    text-decoration: none;


}

.footer .wrapper {
    width: 100%;
    height: 77px;
    background-color: #2d303a;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.quote , .quote-text , .contact-info , .contact-info-text {
    color:white;

}
input {
    border:none;
    border-radius: 5px;
    width: 598px;
    height: 40px;
}

#textarea{
    resize: none;
    border:none;
    border-radius: 5px;
    width: 598px;
    height: 150px;
    background-color:#D6564F;


}